@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Tektur', sans-serif;
  background-image: url(./Components/3D/assets/galaxy.png)
}

/* VARIABLES COULEURS */

:root {
  --couleur-1: #21191A;
  --couleur-2: #8CA1D2;
  --couleur-3: #C2A5AE;
  --couleur-4: #7F5153;
  --couleur-5: #AC4139;
}

/* FIN VARIABLES COULEURS */
.App {
  text-align: center;

}

h1 {
  letter-spacing: 4px;
}

h3 {
  letter-spacing: 2px;
}