.PageUtilisateur {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.planetFav {
    width: 40vw;
    height: 50vh;
    border: 1px solid white;
}

.User {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.user-rank {
    display: flex;
    align-items: center;
    justify-content: center;
}